In [1]:
import pandas as pd

from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [9]:
# SCRAPING FUNCTION
# This function parses rotogrinders website for Player Names, Teams, and Positions for MLB data
# Input is a url that has a GET result for the rotogrinders url
# example url = 'https://rotogrinders.com/game-stats/mlb-pitcher?site=draftkings&range=season'
def parse_nfl_stat_data(url):
    # Initialize driver object
    driver = webdriver.Firefox()   # Establish the driver, we are using FireFox in this case
    driver.get(url) 

    try:
        # Find the ALL button, to show all results 
        page_buttons = driver.find_elements_by_class_name("page")
    
        all_button = page_buttons[len(page_buttons)-1]
        # Click the button
        driver.execute_script("arguments[0].click();", all_button)
    except:
        pass
    
    # Find the table we want
    table = driver.find_element_by_id('game-stats-table') 
    # Get the stats table
    table = driver.find_element_by_id('game-stats-table') 
    
    df = pd.DataFrame()
    
    # Loop through each column
    for col in table.find_elements_by_class_name('rgt-col'):
        # Get the column header for each column and append
        for header in col.find_elements_by_class_name('rgt-hdr'):
            # Grabbing all players names into a list 
            div_tags = col.find_elements_by_tag_name('div')
            column_data = [tag.text for tag in div_tags]
            
            df[column_data[0]] = column_data[1:]
        
    return(df)

In [14]:
qb_df = parse_nfl_stat_data('https://rotogrinders.com/game-stats/nfl-qb?site=draftkings&range=last-two')
qb_df = qb_df[['Player','Team','Pos']]

In [17]:
print(len(qb_df))
qb_df.head()

74

             Player Team Pos
0     Aaron Rodgers  GBP  QB
1         Tom Brady  TBB  QB
2        Joe Flacco  PHI  QB
3  Matthew Stafford  LAR  QB
4         Matt Ryan  ATL  QB

In [7]:
flex_df = parse_nfl_stat_data('https://rotogrinders.com/game-stats/nfl-flex?site=draftkings&range=last-two')
flex_df = flex_df[['Player','Team','Pos']]

In [19]:
print(len(flex_df))
flex_df.head()

514

           Player Team Pos
0     Mark Ingram  HOU  RB
1  Rob Gronkowski  TBB  TE
2  Marcedes Lewis  GBP  TE
3    Jimmy Graham  CHI  TE
4      Jared Cook  LAC  TE

In [11]:
kicker_df = parse_nfl_stat_data('https://rotogrinders.com/game-stats/nfl-kicker?site=draftkings&range=last-two')
kicker_df = kicker_df[['Player','Team','Pos']]

In [21]:
print(len(kicker_df))
kicker_df.head()

35

         Player Team Pos
0  Mason Crosby  GBP   K
1   Ryan Succop  TBB   K
2  Robbie Gould  SFO   K
3     Nick Folk  NEP   K
4   Matt Prater  ARI   K

In [13]:
# CONCAT THE DATAFRAMES TO CREATE THE MASTER

In [22]:
master_df = pd.concat([qb_df, flex_df, kicker_df])

In [23]:
print(len(master_df))
master_df.head()

623

             Player Team Pos
0     Aaron Rodgers  GBP  QB
1         Tom Brady  TBB  QB
2        Joe Flacco  PHI  QB
3  Matthew Stafford  LAR  QB
4         Matt Ryan  ATL  QB

In [24]:
data_dir = 'C:/Users/ahote/Documents/dk_slate_study_tool/dash/nfl/assets/'
master_df.to_csv(data_dir + 'nfl_player_team_pos_df.csv', index=False)